

  <form class="col-md-4 col-md-offset-4">
    <div>
  <div class="form-group">
  <label class="form-control-label" for="email">Email-Zsoft</label>
    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email">
  </div>

  <div class="form-group">
    <label class="form-control-label" for="firstName">First name :</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName">
  </div>

  <div class="form-group">
      <label class="form-control-label" for="lastName">Last name :</label>
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName">
  </div>

    <div class="form-group" id="div-technologies">
      <label class="form-control-label" for="technologies">Technologies</label>
      <input  type="text" [(ngModel)]="technologiesToStr" name="technologies" class="form-control"
             placeholder="Use hashtags ex #java" id="technologies"
            (keydown)="checkTechnology($event)"
      />
      <ul class="list-group">
        <li *ngFor="let techno of suggestions" (click)="selectTechno(techno)" class="list-group-item">{{techno}}</li>
      </ul>
    </div>

    <div class="form-group">
      <button class="btn btn-success" (click)="subscribe()">Subscribe</button>
    </div>
    </div>

  </form>


