
<form class="col-md-4 col-md-offset-4">
    <div>
  <div class="form-group">
  <label class="form-control-label" for="email">Email-Zsoft</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <p *ngIf="!ngForm.controls['email'].valid && ngForm.controls['email'].touched" class="alert alert-danger">Please enter a valid email</p>
  </div>

  <div class="form-group">
    <label class="form-control-label" for="firstName">First name :</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
    <p *ngIf="!ngForm.controls['firstName'].valid && ngForm.controls['firstName'].touched" class="alert alert-danger">Please enter a valid name</p>

  </div>

  <div class="form-group">
      <label class="form-control-label" for="lastName">Last name :</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    <p *ngIf="!ngForm.controls['lastName'].valid && ngForm.controls['lastName'].touched" class="alert alert-danger">Please enter a valid name</p>

  </div>

    <div class="form-group" id="div-technologies">
      <label class="form-control-label" for="technologies">Technologies</label>
      <input  type="text" class="form-control"
             placeholder="Use hashtags ex #java" formControlName="technologiesToStr" id="technologies"
            (keydown)="checkTechnology($event)"
      />
      <ul class="list-group">
        <li *ngFor="let techno of suggestions" (click)="selectTechno(techno)" class="list-group-item">{{techno}}</li>
      </ul>
    </div>

    <div class="form-group">
      <button class="btn btn-success" (click)="subscribe(ngForm.value)" [disabled]="!ngForm.valid">Subscribe</button>
    </div>

    </div>
  </form>


