
    <form class="col-md-4 col-md-offset-4 ">
      <div class="form-group ">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group ">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button  class="btn btn-success">Sign In</button>
          <button class="btn btn-primary" routerLink="/inscription">Sign Up</button>
        </div>
      </div>
    </form>









